<div class="container">
    <div class="row">
      <div class="col-7">
          <mat-spinner class="center" *ngIf="isWait == true" ></mat-spinner>
          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="pizzaFormControl">
              <form [formGroup]="pizzaFormControl">
                <ng-template matStepLabel>Elija el tamaño</ng-template>
                  <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="id_tamano" *ngFor='let tamano of tamanoPizza'>
                    <mat-button-toggle [value]=tamano >{{tamano.nombre_tamano}} - ${{tamano.monto_tamano}}</mat-button-toggle>
                  </mat-button-toggle-group>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="toppinFormControl" [optional]="true">
              <form [formGroup]="toppinFormControl">
                <ng-template matStepLabel>TOPPINS</ng-template>

                <h5 style="margin-bottom: 5px;" ><strong>Toppins disponibles:</strong></h5>
                <div style="margin-bottom: 5px;" class="flexing">
                  <div class="container-img"  *ngFor="let tipo of toppins">
                    <button mat-stroked-button color="warn">{{tipo.nombre_toppin}} ${{ tipo.monto_toppin}}</button>
                    <div class="overlay">
                      <img src="{{tipo.imagen_toppin}}" alt="image" height="100px" />
                    </div>
                  </div>  
                </div>
                <mat-divider></mat-divider>
                <h5 style="margin: 3px;" ><strong>Agregue Toppins</strong></h5>

                <button  matTooltip="Agregue Toppin" mat-icon-button color="primary" aria-label="Agregue Toppins" (click)="addToppin()">
                    <mat-icon>add_shopping_cart</mat-icon>
                  </button>

                  <div formArrayName="toppin">
                    <div *ngFor="let t of toppinFormControl.get('toppin').controls; let i=index">
                      <div [formGroupName]="i" style="display: flex; flex-flow: row; justify-content: center; align-items: center;">
                        <mat-form-field appearance="standard" style="margin: 3%;">
                          <mat-label>Toppins</mat-label>
                          <mat-select formControlName="id_toppin">
                          <mat-option
                              *ngFor="let tipo of toppins"
                              [value]="tipo">
                              {{ tipo.nombre_toppin }}  - ${{ tipo.monto_toppin}}
                          </mat-option>
                          </mat-select>
                          <mat-icon matSuffix>local_pizza</mat-icon>
                         </mat-form-field>
                         <button  matTooltip="Remover Toppin" mat-icon-button color="primary" aria-label="Agregue tipos" (click)="deleteToppin(i)">
                            <mat-icon>remove_circle_outline</mat-icon>
                          </button>
                      </div>
                    </div>
                  </div>              
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
                <button matTooltip="Solicite la Pizza" mat-raised-button (click) = 'addPizza()'> Pedir Pizza</button>

                <div *ngIf="pizza">
                  <mat-card style="margin-top: 2% ;"> 
                    Pizza N {{pizza.id}}: {{pizza.id_tamano.nombre_tamano}}  -  ${{pizza.id_tamano.monto_tamano}} 
                    <mat-card> 
                      <div *ngFor= "let toppin of toppinSelected">
                        <div *ngIf="toppin.id_pizza.id === pizza.id">
                          <mat-divider></mat-divider>
                          {{toppin.id_toppin.nombre_toppin}}  -  ${{toppin.id_toppin.monto_toppin}}
                        </div>
                      </div>
                    </mat-card>
                    Monto Pizza : ${{monto}}
                  </mat-card>
                </div>
             <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Solicitar Otra Pizza</button>
                <button mat-button matStepperNext>Bebidas?</button>
                <button mat-button (click)="nav()"> Generar Factura </button>

              </div>
            </mat-step>
            <mat-step [stepControl]="bebidaFormControl" [optional]="true">
              <form [formGroup]="bebidaFormControl">
                <ng-template matStepLabel>Bebidas</ng-template>

                <h5 style="margin-bottom: 5px;"><strong>Bebidas Disponibles :</strong></h5>
        
                <div style="margin-bottom: 5px;" class="flexing">
                  <div class="container-img"  *ngFor="let tipo of bebidas">
                    <button mat-stroked-button color="warn">{{tipo.nombre_bebida}} ${{ tipo.monto_bebida}}</button>
                    <div class="overlay">
                      <img src="{{tipo.imagen_bebida}}" alt="image" height="100px" />
                    </div>
                  </div>  
                </div>

                <mat-divider></mat-divider>
                <h5 style="margin: 3px;" ><strong>Agregue Bebidas</strong></h5>


                <button matTooltip="Agregar Bebidas" mat-icon-button color="primary" aria-label="Agregue bebidas" (click)="addBebida()">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>

                  <div formArrayName="bebida">
                    <div *ngFor="let t of bebidaFormControl.get('bebida').controls; let i=index">
                      <div [formGroupName]="i" style="display: flex; flex-flow: row; justify-content: center; align-items: center;">
                        <mat-form-field appearance="standard" style="margin: 3%;">
                          <mat-label>Bebidas</mat-label>
                          <mat-select formControlName="id_bebida">
                            <mat-option
                                *ngFor="let tipo of bebidas"
                                [value]="tipo">
                                {{ tipo.nombre_bebida }}  - ${{ tipo.monto_bebida}}
                            </mat-option>
                          </mat-select>
                          <mat-icon matSuffix>local_pizza</mat-icon>
                         </mat-form-field>
                         <button  mat-icon-button color="primary" aria-label="remover bebidas" (click)="deleteBebida(i)">
                            <mat-icon>remove_circle_outline</mat-icon>
                          </button>
                      </div>
                    </div>
                  </div>  
                  
                  
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-raised-button (click) ='createBebida()' matStepperPrevious> Pedir Bebidas</button>
                </div>
              </form>
            </mat-step>
          </mat-vertical-stepper>  

          <mat-card> 
              <div *ngIf="pedidos">
                Total Actual: ${{pedidos.total_pedido}}
              </div>
          </mat-card>


        </div>        
  
  
      <div class="col-5 printMe" style="border: 1px solid #000; border-radius: 1%;">
         <div *ngIf= "pedidos" class="printMe">
            <h4 class="printMe">
              <strong class="printMe">Factura Datos:</strong>
              <div class="printMe icon">
                <img class="printMe" src="\assets\images\Pizza-icon_30282.png" alt="Random first slide">
              </div>
            </h4>
            <hr>
            Codigo: {{pedidos.id}}   
            Usuario: {{pedidos.usuario}}
            <p class="printMe">Estatus: {{pedidos.estatus}} </p>
            <p class="printMe">Metodo Pedido: {{pedidos.metodo_pedido}} </p>
            <p class="printMe">Direccion: {{pedidos.direccion_pedido}} </p>

         </div>
         <app-orden class="printMe" [pedido]="pedido.pedido"></app-orden>
      </div>
    </div>

</div>

